@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blur-oval {
    width: 80vw; 
    height: 60vh; 
    max-width: 960px; 
    max-height: 700px;
     background: #FF74261A;
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     border-radius: 46%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: -1;
  }

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }
  

  .custom-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: pink;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  /* Active dot */
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: #4d2c5e; 
    width: 16px;
    border-radius: 30px;
  }
  